.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .pwd-length {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  #length {
    width: 100%;
    margin-top: 10px;
  }